// .woocommerce .products ul,
// .woocommerce ul.products {
//   --auto-grid-min-size: 200px;
//   display: grid;
//   grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
//   column-gap: 3.2rem;
//   row-gap: 0;
// }
// ul.products:before {
//   content: unset !important;
// }
// ul.products li.product {
// width: 100% !important;
// display: flex;
// flex-direction: column;
// }
// ul.products li.product a.woocommerce-loop-product__link {
//   flex-grow: 1;
// }

//SELECT
body.woocommerce-page select {
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  appearance: none;
}

// Gallery product page
.woocommerce div.product div.images .flex-control-thumbs {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

// .woocommerce div.product form.cart .variations {
//   display: flex;
//   margin: 2rem 0;

//   tbody {
//     width: 100%;
//     tr {
//       display: flex;
//       flex-direction: column;
//       text-align: left;
//     }
//   }

//   label {
//     margin-right: 2rem;
//   }

//   select {
//     width: 100%;
//   }
// }

.site-main {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.6rem;
  margin-top: 1.6rem;

  .wc {
    display: flex;
    flex-wrap: wrap;

    &-content {
      order: 1;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      @include mq(medium) {
        width: 75%;
      }
    }

    .widget-area {
      width: 100%;
      @include mq(medium) {
        max-width: 250px;
      }
      padding: 1.5rem;
      aside {
        padding-bottom: 3.2rem;
      }

      .widget-title {
        font-size: 2rem;
        margin-bottom: 0.5rem;
      }

      // search button
      aside > .woocommerce-product-search {
        button[type="submit"] {
          display: none;
        }

        input[type="search"] {
          width: 100%;
        }
      }
    }
  }
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
  background-color: #c5c5c5;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
  background-color: $dark-color-700;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
  background-color: $dark-color-700;
}

// on sale button
.woocommerce ul.products li.product .onsale {
  margin: 0;
}

.woocommerce span.onsale {
  min-width: 0;
  min-height: 0;
  padding: 0.85rem 1.55rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
  top: 0;
  left: 0;
  border-radius: 0;
  background-color: $dark-color-700;
}

.woocommerce div.product p.price del,
.woocommerce div.product span.price del {
  font-size: 1.6rem;
}

.woocommerce div.product p.price,
.woocommerce div.product span.price {
  display: grid;
}

.woocommerce div.product p.price ins {
  font-size: 2.4rem;
}

.woocommerce div.product .product_title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3 {
  padding: 0;
  margin: 0;
  font-weight: 600;
  font-size: 1.6rem;
}

.woocommerce ul.products li.product .price del {
  margin-right: 3px;
}

.woocommerce ul.products li.product .price {
  color: $dark-color-700;
  font-weight: 700;
  margin-bottom: 0.5em;
  font-size: 1.6rem;
}

.woocommerce div.product form.cart .button {
  border: 0;
  border-radius: 0;
  background: none;
  background-color: #43454b;
  color: #fff;
  cursor: pointer;
  padding: 1.4rem 2.25rem;
  text-decoration: none;
  font-weight: 600;
  text-shadow: none;
  display: inline-block;
  margin-left: 6px;
  &:hover {
    background-color: $dark-color-700;
  }
}

.woocommerce #content table.cart td.actions .input-text,
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
  width: 150px;
}
.woocommerce .cart .button,
.woocommerce .cart input.button {
  padding: 1.05rem 1rem;
}

.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order,
#add_payment_method .wc-proceed-to-checkout a.checkout-button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
  background-color: #43454b;

  &:hover {
    background-color: $dark-color-700;
  }
}

.woocommerce ul.products li.product a img {
  border-radius: 3px;
}

.widget_product_categories .product-categories > li > a {
  font-weight: 600;
}

.widget_product_categories .product-categories ul.children li {
  margin-left: 1.25rem;
}
