#cookie-notice {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: 100%;
  color: #fff;
  background: #596cd5;
  font-size: 1.5rem;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 0px;
  visibility: hidden;
  z-index: 1000000;
  @include mq(small) {
    max-width: 300px;
    bottom: 10px;
    right: 10px;
    border-radius: 5px;
  }
  > span > a {
    text-decoration: underline;
  }
}

#cookie-notice > a {
  display: block;
  text-align: center;
  background: #3842c7;
  border: 0;
  padding: 6px;
  margin-top: 10px;
  cursor: pointer;
  &:hover {
    background-color: #404acf;
  }
}
