/**
 * Typography
 */
:root {
  font-size: 62.5%;
}

body {
  color: $color_body;
  background-color: $body-background;
  font-family: $base-font;
  font-size: 1.6rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #131315;
  font-family: $base-font;
  font-weight: 700;
  margin-bottom: 2.5rem;
  line-height: 1.3;

  a {
    font-weight: 300;
  }
}

h1 {
  font-size: calc(1.475rem + 2.7vw);
  @include mq(medium) {
    font-size: 4.2rem;
  }
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.6rem;
}

h4 {
  font-size: 2.2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.6rem;
}

b,
strong {
  font-weight: 600;
}

cite,
em,
i {
  font-style: italic;
}

p {
  margin-bottom: 2.3rem;
}

embed,
iframe,
object,
video {
  max-width: 100%;
}

img {
  height: 100%;
}
