.contact-template {
  max-width: 1280px;
  display: grid;
  gap: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  @include mq(medium) {
    grid-template-columns: 1fr 1fr;
  }

  &__form {
    @include mq(medium) {
      order: -1;
    }
  }

  &__label {
    @include mq(medium) {
      display: flex;
      gap: 2rem;
    }
    input {
      width: 100%;
    }
  }

  &__subject {
    input {
      width: 100%;
    }
  }

  &__message {
    textarea {
      height: 100px;
    }
  }

  &__map {
    margin-top: 2rem;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    iframe {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }
  }
}
